@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * Universal
 */

body {
    padding-top: 120px;
    font-style: 'sans-serif';
    box-sizing: border-box;
}

/*
 * header
 */

.navbar-nav {
    border: 2px solid $gray-light;
    width: 100%;
}

#title {
    float: left;
    color: black;
    font-size: 40px;
    &:hover {
        text-decoration: none;
    }
}

#subtitle {
    float: right;
    font-size: 13px;
    color: $gray-light;
    padding-top: 20px;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-light;
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

/*
 * admin
 */

.admin-pages {
    padding: 0;
    margin: 0;
    /* background: gray; */
    h1 {
        padding: 0;
        margin: 0;
    }
}

.admin-sidebar {
    /* float: left; */
    list-style: none;
    border-right: 2px solid $gray-light;
    padding-left: 0px;
    font-size: 18px;

    /* background: lightgray; */
}

.sidebar-element {
    padding-bottom: 30px;
    a {
        color: black;
        text-decoration: none;
    }
    .glyphicon {
        font-size: 32px;
        vertical-align: middle;
    }
}
.current {
    color: cornflowerblue;
    a {
        color: cornflowerblue;
        text-decoration: none;
    }
}

.dropdown {
    margin-top: 20px;
}

table {
    margin-top: 20px;
    tr:hover {
        cursor: pointer;
    }
}

tr .page-row button {
    display: none;
}

tr:hover .page-row button {
    display: inline;
}
